server/src/main/resources/reservation.wsdl

<wsdl:definitions name="reservation"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://kopr.ics.upjs.sk"
                  xmlns:kopr="http://kopr.ics.upjs.sk">

    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kopr.ics.upjs.sk">
            <element name="ReservationRequest">
                <complexType>
                    <sequence>
                        <element name="patientID" type="string"/>
                        <element name="appointmentID" type="int"/>
                    </sequence>
                </complexType>
            </element>

            <element name="ReservationResponse">
                <complexType>
                    <sequence>
                        <element name="appointmentID" type="int"/>
                        <element name="patientID" type="string"/>
                        <element name="appointmentDate" type="string"/>
                        <element name="appointmentTime" type="string"/>
                        <element name="doctorName" type="string"/>
                    </sequence>
                </complexType>
            </element>

            <element name="ReservationFault">
                <complexType>
                    <sequence>
                        <element name="errorMessage" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="ReservationRequestMessage">
        <wsdl:part name="part" element="kopr:ReservationRequest"/>
    </wsdl:message>

    <wsdl:message name="ReservationResponseMessage">
        <wsdl:part name="part" element="kopr:ReservationResponse"/>
    </wsdl:message>

    <wsdl:message name="ReservationFaultMessage">
        <wsdl:part name="part" element="kopr:ReservationFault"/>
    </wsdl:message>

    <wsdl:portType name="ReservationPortType">
        <wsdl:operation name="MakeReservation">
            <wsdl:input message="kopr:ReservationRequestMessage"/>
            <wsdl:output message="kopr:ReservationResponseMessage"/>
            <wsdl:fault name="ReservationFault" message="kopr:ReservationFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ReservationBinding"
                  type="kopr:ReservationPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="MakeReservation">
            <soap:operation
                    soapAction="http://kopr.ics.upjs.sk/MakeReservation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>

            <wsdl:fault name="ReservationFault">
                <soap:fault name='ReservationFault'
                            namespace="http://kopr.ics.upjs.sk" use='literal'/>
            </wsdl:fault>

        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ReservationService">
        <wsdl:port name="ReservationPort"
                   binding="kopr:ReservationBinding">
            <soap:address
                    location="http://localhost:8888/reservation"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
